body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .main_text {
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 270px;
  }
  
  .title {
    font-size: 36px;
    color: darkblue;
    font-weight: bold;
  }
  
  .description {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .highlight {
    color: darkred;
  }
  
  .slogan {
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }


/* Стиль для заголовка таблиці----------------------------------------- */
.table-title {
    text-align: center;
    margin-top: 30px;
}

/* Стилі для таблиці-------------------------------------------------- */
.watch-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.watch-table th {
    background-color: #4c57af;
    color: white;
    padding: 10px;
}

.watch-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Стилі для зображень у таблиці----------------------------------------------- */
.watch-table img {
    width: 150px;
    height: auto;
}

/* Стилі для списків----------------------------------------------------------- */
.custom-ul {
    list-style-type: square;
    padding-left: 20px;
}

.custom-ol {
    list-style-type: upper-roman;
    padding-left: 20px;
}

dl {
    margin-top: 10px;
}

dt {
    font-weight: bold;
    margin-top: 5px;
}

dd {
    margin-left: 15px;
}



/* Основний стиль для таблиці жіночих годинників----------------------------------------------- */

.w-watches{
    margin-top: 100px;
}
.watch-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.watch-table th {
    background-color: #1c36c87a;
    color: white;
    padding: 12px;
}

.watch-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Ширина колонок у таблиці жіночих годинників */
.col-25 {
    width: 25%;
}

/* Зовнішній відступ між клітинками таблиці та внутрішній відступ */
.watch-table.spacing {
    border-spacing: 5px;
}

.watch-table.spacing td,
.watch-table.spacing th {
    padding: 10px;
}

/* Стилізація для комірок із посиланнями----------------------------------------- */
.link-cell a {
    display: block;
    font-weight: bold;
    color: #0073e6;
    text-decoration: none;
    padding: 5px;
}

.link-cell a:hover {
    color: #ff4500;
}

/* Вирівнювання тексту--------------------------------------------------------- */
.center-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #f4f4f4;
}

/* Жирний текст--------------------------------------------------------------------- */
.bold-text {
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

/* Стилізація зображень------------------------------------------------------------- */
.watch-table img {
    width: 150px;
    height: auto;
}

.main_text > h1 {
    border-bottom: 2px solid #4c57af;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
