body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* хедер -------------------------------------------------------- початок */
.welcome_text{
    margin-top:350px;
    text-align: center;
    color: rgb(189, 228, 244);
    font-size: 45px;

}
/* хедер -------------------------------------------------------- кінець */



/* текст для головної частини -------------------------------------------------------- початок */

.main_text {

    margin-top: 300px;
}


/* текст для головної частини -------------------------------------------------------- кінець */



/* футер -------------------------------------------------------- початок */
.footer_text{
    margin-top: 600px;
    text-align: center;
    background-color: rgb(189, 228, 244);
}